html {
  background-image: url('../images/background.jpg');
  background-size: cover;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}

.box {
  margin: 50px 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#score-box {
  width: 70px;
  background: #fff;
  display: inline-block;
  border: 2px solid black;
  border-radius: 1px;
  padding: 8px;
  margin-right: -6px;
  
}

#score-box div {
  display: inline-block;
}

.row {
  width: auto;
  border: 1px solid rgb(87, 87, 94);
  background-color: rgb(212, 212, 212);
  border-radius: 10px;
}

#cards {
  margin-top: 50px;
}

.flex-item {
  padding: 5px;
  margin: 10px;
  font-size: 1em;
  text-align: center;
}

#time-left {
  float: left;
}

#time-left div {
  background: #fff;
  display: inline-block;
  border: 2px solid black;
  border-radius: 1px;
  padding: 8px;
  margin-right: -6px;
}

#lifes-left {
  float: right;
}


#lifes-left .text {
  background: #fff;
  display: inline-block;
  border: 2px solid black;
  border-radius: 1px;
  padding: 8px;
}


#lifes-left img {
  margin-top: 5px;
  width: 30px;
}

#lifes {
  float: right
}

#cards img {
  margin: 5px 5px;
  width: 120px;
}